.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.04);
    align-items: center;
    padding: 0px 65px;

}

.logo{
    width: 186px;
    height: 40px;
}

.nav-item{
    list-style: none;
    display: flex;
    color: #1C1E53;
}

.nav-item li{
    font-size: 21px;
    font-weight: 400;
    padding: 0px 21px;
}

.nav-item li:hover{
    color: #5E3BEE;
    cursor: pointer;
}

.nav-button{
    width: 170px;
    height: 50px;
    color: #5E3BEE;
    border-color: #5E3BEE;
    border-radius: 5.33px;
    background-color: #FFFFFF;
    border-width: 1.33px;
}
.home{
    height: 100%;
    padding: 120px 85px;
    align-items: center;
    justify-content: center;
}

.home-button{
    background-color: #5E3BEE; 
    color: #FFFFFF;
    height: 27px;
    width: 120px;
    border-radius: 5px;
    padding: 16.67px 12.67px;
    border-style: none;
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.home-img{  
    width: 50%;
}

